/* Solarized theme :root */
:root {
  --solarized-brgreen: #586e75;
  --solarized-black: #073642;
  --solarized-brblack: #002b36;
  --solarized-bryellow: #657b83;
  --solarized-brblue: #839496;
  --solarized-brcyan: #93a1a1;
  --solarized-white: #eee8d5;
  --solarized-brwhite: #fdf6e3;
  --solarized-yellow: #b58900;
  --solarized-orange: #cb4b16;
  --solarized-red: #dc322f;
  --solarized-magenta: #d33682;
  --solarized-violet: #6c71c4;
  --solarized-blue: #268bd2;
  --solarized-cyan: #2aa198;
  --solarized-green: #859900;
}

body {
  color: var(--solarized-black);
  font-family: 'Terminus', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--solarized-white);
}

/* Style the navigation */
nav a {
  color: var(
    --solarized-black
  ) !important; /* Prevent override of color by link styling */
  font-size: 1.25em;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}

p {
  text-align: justify;
}

li {
  text-align: left;
}

header,
article,
footer {
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border: 1px solid var(--solarized-blue);
  background-color: var(--solarized-brwhite);
}

/* Distinguish the footer from the body */
footer {
  color: var(--solarized-green);
  text-align: center !important; /* override the default justified text */
}

h1 {
  font-size: 2em;
  font-weight: bolder;
  margin: 0;
  color: var(--solarized-red);
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  color: var(--solarized-orange);
}

h3 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
  color: var(--solarized-yellow);
}

.thick-yellow-border {
  border: 0px solid var(--solarized-yellow);
  background-color: var(--solarized-yellow);
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

/* change colour of links */
a:link {
  color: var(--solarized-magenta);
}

a:visited {
  color: var(--solarized-magenta);
}
