body{
  background-color: #2e2e2e;
  color: #d6d6d6;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
  text-align: justify;
}