/* Color scheme :root to setup CSS Variables */
:root {
  --teal: #2b6777;
  --blue: #c8d8e4;
  --black: #000000; /* Allows easy switching to a different black/white */
  --white: #ffffff;
  --grey: #f2f2f2;
  --aquamarine: #52ab98;
}

* {
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

body {
  color: var(--black);
  font-family: 'Terminus', 'Monaco', 'Bitstream Vera Sans Mono', monospace; /* Switch to Monospace fonts */
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  background-color: var(--white);
}

/* This should target small-sized display devices e.g. mobile devices and tablets */
@media screen and (max-width: 768px) {
  .nav-link {
    font-size: 1.5em;
  }

  nav a {
    /* Switch to vertical navigation layout */
    display: block;
    margin: 0 auto !important;
    padding: 0 auto !important;

    background-color: var(--teal);
    color: var(
      --blue
    ) !important; /* Prevent override of color by link styling */
    font-weight: bolder;
    text-decoration: none;
  }

  /* Invert colors of navigation links on hover */
  nav a:hover {
    background-color: var(--blue);
    color: var(--teal) !important;
  }
}

/* This should target medium-sized display devices e.g. small screens and laptops */

@media screen and (max-width: 1200px) {
  .nav-link {
    font-size: 1.5em;
  }

  nav a {
    /* Switch to vertical navigation layout */
    display: block;
    margin: 0 auto !important;
    padding: 0 auto !important;

    background-color: var(--teal);
    color: var(
      --blue
    ) !important; /* Prevent override of color by link styling */
    font-weight: bolder;
    text-decoration: none;
  }

  /* Invert colors of navigation links on hover */
  nav a:hover {
    background-color: var(--blue);
    color: var(--teal) !important;
  }
}

/* This should target larger displays e.g. desktops and TVs */
@media screen and (min-width: 1201px) {
  .nav-link {
    font-size: 1.5em;
  }

  nav h1 {
    text-align: left;
    display: inline-block;
    margin-right: 1em; /* Add margin to push nav links to the right */
  }

  nav a {
    display: inline-block;
    font-weight: bolder;
    background-color: var(--white);
    color: var(
      --teal
    ) !important; /* Prevent override of color by link styling */
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
  }

  /* Invert colors of navigation links on hover */
  nav a:hover {
    background-color: var(--teal);
    color: var(--blue) !important;
  }
}

p {
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
}

ul,
ol {
  margin-bottom: 1em;
  margin-left: 1em; /* Indent list items same as justified p text */
}

ul {
  list-style-type: square;
}

li {
  text-align: left;
}

header,
article,
.card,
footer {
  margin: 0 auto;
  width: 80%;
  padding: 1.5em;
  border: 1px solid var(--blue);
  background-color: var(--white);
}

/* Style the cards */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 var(--teal);
  transition: 0.3s;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-container {
  position: relative;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 var(--teal);
}

.card a {
  text-decoration: none;
}

.card p {
  text-align: center;
}

.container {
  padding: 2px 16px;
}

/* Distinguish the footer from the body */
footer {
  font-size: smaller;
  border: none;
}

footer p {
  text-align: center;
}

/* Scale image with screen size */
img {
  max-width: 100%;
  max-height: auto;
}

/* Style headers by changing their size, font-weight, and colours */
h1 {
  font-size: 2em;
  font-weight: bolder;
  margin: 0;
  color: var(--teal);
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
  color: var(--aquamarine);
}

h3 {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
}

h4 {
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
  color: var(--black);
}

/* Class to create rounded images with a thick cyan border */
.thick-cyan-border {
  border: 1px solid var(--aquamarine);
  background-color: var(--aquamarine);
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
}

/* Change colour of links from default colouring */
a:link {
  color: var(--teal);
}

a:visited {
  color: var(--aquamarine);
}
